.Grid{
  width: 33%;
  height: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.Title {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  font-size: 30px;
}

.AuthorBox {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  color: rgb(207, 207, 207);

}

p {
  font-size: 25px;
}

.Author {
  margin-left: 8px;
  color: #000;
  font-size: 25px;
}

.GridImage {
  width: 100%;
}

.InfoContainer {
  border: 2px solid rgb(224, 224, 224);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

// Styles to rotate icons

.IconLike {
  font-size: 50px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
  color: #fff;
  background: #000;
  opacity: .3;
  border-radius: 50%;
}

.IconShare {
  font-size: 50px;
  transform: scaleX(-1) rotate(90deg);
  -moz-transform: scaleX(-1) rotate(90deg);
  -webkit-transform: scaleX(-1) rotate(90deg);
  -ms-transform: scaleX(-1) rotate(90deg);
  color: #fff;
  background: #000;
  opacity: .3;
  border-radius: 50%;
}

.ActionsBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

// Like button styles on click

.LikeButtonClicked {
  background-color: red;
}

.LikeIconClicked {
  color: #fff;
  background-color: red;
  opacity: 1;
  transition: .8s ease;
}

.LikeCounterButtonClicked {
  font-size: 20px;
  opacity: 1;
  transition: .8s ease;
  color: #fff;
}


// Downloads button styles on click

.DownloadButtonClicked {
  background-color: #009688;
}

.DownloadIconClicked {
  color: #fff;
  opacity: 1;
  transition: .8s ease;
  background-color: #009688;
}

.DownloadCounterButtonClicked {
  font-size: 20px;
  opacity: 1;
  transition: .8s ease;
  color: #fff;
}



@media (max-width: 768px) {
  .Grid{
    width: 45%;
  }
}

@media (max-width: 414px) {
  .IconLike {
    font-size: 40px;
  }
  .IconShare {
    font-size: 40px;
  }
  .Grid{
    width: 80%;
  }
}
