@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

.GridList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(236, 236, 236);
}
