.FloatContainer {
  width: 75%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.FloatContainer.active .Placeholder {
  transform: translate(0, 4px) scale(0.25);
}

.layer {
  width: 100%;
  height: 100%;
}

.Placeholder {
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 13%;
}

.PlaceholderBlur {
  transform: translate(-10%, -90%) scale(.75);
}

.InputField {
  font-size: 20px;
  background: #f7f7f7;
  outline: none;
  border: none;
  height: 3rem;
  width: 100%;
  padding: 0px 10px 0px 50px;
  border-radius: 25px;
  transition: 1s ease;
}

.InputFieldBlur {
  height: 5rem;
}
