.Header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.image {
  position: relative;
  left: 5%;
  margin-right: auto;
}

.InputField {
  margin-right: 10%;
  width: 51%;
}


@media (max-width: 1024px) {
  .InputField {
    width: 75%;
  }
  .icon {
    left: 7%;
  }
}

@media (max-width: 768px) {
  .Header {
    flex-direction: column;
    margin-bottom: 6%;
  }
  .image {
    margin: auto;
    width: 45%;
    left: 0;
  }
  .InputField {
    width: 80%;
    margin-right: 0%;
  }
  input {
    width: 70%;
    padding: 0;
  }
  .icon {
    left: 9%;
  }
}

@media (max-width: 414px){
  .InputField {
    width: 100%;
    font-size: 18px;
    margin: 0;
  }
  input {
    width: 100%;
    padding: 0;
  }
  .icon {
    font-size: 29px;
    left: 3%;
    position: absolute;
  }
  .FloatContainer {
    width: 100%;
  }
}

@media (max-width: 375px){
  .InputField {
    font-size: 16px;
  }
  .icon {
    font-size: 24px;
    left: 5%;
  }
}

@media (max-width: 320px){
  .InputField {
    width: 100%;
    font-size: 16px;
  }
  .icon {
    font-size: 28px;
    left: 4%;
    position: absolute;
  }
}


