.SearchInputField {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  position: relative;
  font-size: 25px;
  left: 15.5%;
  z-index: 2;
}
