.GridButton {
  background-color: #fff;
  border:none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px  solid rgb(224, 224, 224);
  border-right: 1px  solid rgb(224, 224, 224);
  transition: .8s ease;
}

.Counter {
  margin-left: 5%;
  font-size: 20px;
  color: #000;
  opacity: .5;
}

.test {
  width: 100%;
  height: 100%;
}


